<div class="row">
  <div class="col-md-12">

    <h2>Login</h2>

    <br />

    {{#if errorMessage}}
      <div class="alert alert-danger">
        <strong>Error:</strong>
        {{errorMessage}}
      </div>
    {{/if}}

    <form method="post" action="/login">

      <fieldset>
        <label for="userName">Username</label>
        <input
          class="form-control"
          id="userName"
          name="userName"
          type="text"
          placeholder="User Name"
          required=""
          value={{userName}}
        />

        <label for="password"></label>
        <input
          class="form-control"
          id="password"
          name="password"
          type="password"
          placeholder="Password"
          required=""
        />

      </fieldset>

      <hr />

      <input type="submit" class="btn btn-success pull-right" value="Login" />
      <br /><br /><br />

    </form>
  </div>
</div>